/****************************************
 ************ STATIC STYLING ************
 ****************************************/
/* Hide the name of the tabs in the sidebar by default */
.sidebar tab {
  opacity: 0;
}

/* Fix the size of each section in the sidebar */
.sidebar a {
  height: 25px;
}

/* Styling for the sidebar */
.sidebar {
  margin: 0;
  padding: 0;
  width: 57px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  transition: 0.5s;
}

/* Styling for each tab in the sidebar */
.sidebar a {
  display: block;
  color: black;
  font-size: 20px;
  padding: 16px;
  text-decoration: none;
}

/* Styling for the page content including pushing it to the right to make space for the sidebar */
div.content {
  margin-left: 55px;
  padding: 1px 16px;
  height: 1000px;
  transition: 0.5s;
}

/* Set the global font to Times New Roman */
html * {
  font-family: "Times New Roman";
}

/****************************************
 *********** DYNAMIC STYLING ************
 ****************************************/
/* Expand the sidebar when the user hovers on it */
.sidebar:hover {
  width: 200px;
}

/* Push the main content to the right so it isn't covered when the user hovers on the sidebar */
.sidebar:hover ~ div.content {
  margin-left: 200px;
}

/* When the user hovers on a tab, slowly display the name of the tab */
.sidebar:hover tab {
  opacity: 1;
  transition: 0.2s;
  transition-delay: 0.3s;
  transition-property: opacity;
}

/* Style the active tab with a navy blue background and white text */
.sidebar a.active {
  background-color: #202A44;
  color: white;
}

/* Highlight the tab the user hovers on with a gray background */
.sidebar a:hover:not(.active) {
  background-color: #666;
  color: white;
  transition: 0.01s;
  transition-delay: 0.01s;
}

/****************************************
 ******** SMALLER SCREEN STYLING ********
 ****************************************/
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
