<link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
<!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sidebar">
  <a class="active" href="home"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="projects"><i class="fa fa-fw fa-laptop"></i> Projects</a>
  <a href="experience"><i class="fa fa-fw fa-briefcase"></i> Experience</a>
  <a href="skills"><i class="fa fa-fw fa-book"></i> Skills</a>
  <a href="resume"><i class="fa fa-fw fa-file"></i> Resume</a>
  <a href="contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
</div>
